@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
}

.container {
    position: relative;
    margin: auto;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 62px;
    gap: 5px;
}

.cabecalho-titulo {
    color: #EF6C00;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.cabecalho-linha {
    width: 205px;
    height: 1px;
    background: #CFCFCF;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultado {
    visibility: hidden;
}

.conteudo-resultado {
    margin-top: 90px;
}

.conteudo-resultado-paragrafo {
    color: #EF6C00;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1px;
}

.conteudo-principal {
    margin-top: 16px;
}

.conteudo-principal-display {
    position: relative;
    float: left;
    width: 80px;
    height: 125px;
}

#display-2 {
    display: none;
}

#display-3 {
    display: none;
}

.conteudo-principal-display .segmento-a {
    width: 68.48px;
    left: 0px;
    border-top: 15px solid #262A34;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-radius: 8px;
    top: 0;
}

.conteudo-principal-display .segmento-d {
    position: absolute;
    margin-top: -15px;
    width: 68.48px;
    left: 0px;
    border-bottom: 15px solid #262A34;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-radius: 8px;
    top: 127px;
}

.conteudo-principal-display .segmento-g {
    position: absolute;
    margin-top: -14px;
    width: 63px;
    left: 2.5px;
    border-bottom: 11px solid #262A34;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    top: 66.25px;
}

.conteudo-principal-display .segmento-g .segmento-reflexo {
    position: absolute;
    top: 11px;
    left: -12px;
    right: -12px;
    border-top: 11px solid #262A34;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.conteudo-principal-display .segmento-b {
    position: absolute;
    height: 63.39px;
    width: 0;
    border-right: 15px solid #262A34;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-radius: 8px;
    top: 1.5px;
    left: 54px;
}

.conteudo-principal-display .segmento-c {
    position: absolute;
    height: 63.39px;
    width: 0;
    border-right: 15px solid #262A34;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-radius: 8px;
    top: 62px;
    left: 54px;
}

.conteudo-principal-display .segmento-e {
    position: absolute;
    height: 63.39px;
    border-left: 15px solid #262A34;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-radius: 8px;
    top: 62px;
    left: -1px;
}

.conteudo-principal-display .segmento-f {
    position: absolute;
    height: 63.39px;
    border-left: 15px solid #262A34;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-radius: 8px;
    top: 1.5px;
    left: -1px;
}

.display-num-0 .segmento-g {
    opacity: 0.1;
}

.display-num-1 .segmento-a,
.display-num-1 .segmento-d,
.display-num-1 .segmento-e,
.display-num-1 .segmento-f,
.display-num-1 .segmento-g {
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.display-num-2 .segmento-c,
.display-num-2 .segmento-f {
    opacity: 0.1;
}

.display-num-3 .segmento-e,
.display-num-3 .segmento-f {
    opacity: 0.1;
}

.display-num-4 .segmento-a,
.display-num-4 .segmento-d,
.display-num-4 .segmento-e {
    opacity: 0.1;
}

.display-num-5 .segmento-b,
.display-num-5 .segmento-e {
    opacity: 0.1;
}

.display-num-6 .segmento-b {
    opacity: 0.1;
}

.display-num-7 .segmento-d,
.display-num-7 .segmento-e,
.display-num-7 .segmento-f,
.display-num-7 .segmento-g {
    opacity: 0.1;
}

.display-num-9 .segmento-e {
    opacity: 0.1;
}

.conteudo-nova-partida {
    margin-top: 56px;
    display: block;
}

#nova-partida {
    visibility: hidden;
}

.conteudo-nova-partida-botao {
    padding: 0;
    margin: 0;
    width: 130px;
    height: 42px;
    border: none;
    transition-duration: 60s;
    background: url(../img/Group_26.png);
    background-size: cover;
}

.conteudo-usuario {
    margin-top: 73px;
    margin-bottom: 31px;
}

.conteudo-usuario-palpite {
    display: flex;
    width: 298px;
    height: 42px;
    justify-content: space-around;
    align-items: center;
}

.conteudo-usuario-palpite-input {
    width: 214px;
    height: 42px;
    background-color: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    padding-left: 8px;
}

.conteudo-usuario-palpite-input:focus {
    outline: none;
    border: 1px solid #EF6C00;
}

.conteudo-usuario-palpite-input::placeholder {
    color: #9E9E9E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    width: 80px;
    height: 14px;
}

.conteudo-usuario-palpite-botao {
    width: 71px;
    height: 42px;
    background-color: #EF6C00;
    border: 1px solid #CFCFCF;
    border-radius: 4px;

    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.conteudo-usuario-palpite-botao:hover {
    border: 1px solid #EF6C00;
}